body {
	padding-bottom: 70px;
}

.ex-padding-top {
	margin-top: 15px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.navbar-fixed-bottom > .container > p {
	padding-top: 13px;
}

.selector .btn{
	float:left;
	border-radius: 0px;
}

.btn-submit {
	border-radius: 0px;
}

.sm-radio {
	height:15px;
}

.fileForm {
	padding-top: 25px;
	padding-bottom: 25px;
}

.inactive {
	color: #aaaaaa;
}
